@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
::-webkit-scrollbar {
  width: 10px;
  background-color: #bbf0d6;
}
::-webkit-scrollbar-thumb {
  background-color: #118c4f;
  border-radius: 10px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary: #118c4f;
  --secondary: #0b723f;
  --background: #bbf0d6;
  --white: #fff;
}
.primary {
  color: var(--primary);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #333;
}
.container {
  max-width: 1240px;
  margin: auto;
}
h1 {
  font-size: 3.5rem;
  line-height: 1.2;
}
h2 {
  font-size: 2.4rem;
  line-height: 1.2;
}
h5 {
  font-size: 1.1rem;
  line-height: 1.2;
}
p {
  font-size: 1.2rem;
}
.btn {
  padding: 12px 32px;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: #fff;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 1px;
}
.btn:hover {
  box-shadow: rgb(0 0 0 0/15%) 0 8px 24px;
  background-color: var(--secondary);
}
input {
  padding: 12px 32px;
  border: 1px solid var(--primary);
  background: transparent;
  border-radius: 4px;
  font-size: 1rem;
  margin-right: 0.8rem;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.1rem;
    line-height: 1.2;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  h5 {
    font-size: 1.1rem;
    line-height: 1.2;
  }
  p {
    font-size: 1rem;
  }
  .btn {
    width: 100%;
    margin: 1rem 0;
  }
  input {
    width: 100%;
  }
}
